$blackColor: #1f2021;
$blackColorOverlay: rgba(31 32 33 / 70%);
$lightFontColor: #d6d6d6;
$primaryColor: #00c7fc;
$primaryColorOverlay: rgb(0 199 252 / 50%);
$primaryFontColor: #a8a8a8;
$secondaryColor: #f9d4e4;
$whiteColor: #ffffff;