@use "sass:map";

$max-width: 100%;
$columns: 12;
$gutter: 2rem;
$halfGutter: calc($gutter / 2);
$margin: 1.5rem;
// $sectionPadding: 50px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$container-max-widths: (
  xs: $max-width,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$smallScreen: map.get($grid-breakpoints, "sm");
$mediumScreen: map.get($grid-breakpoints, "md");
$largeScreen: map.get($grid-breakpoints, "lg");