@import "colors";
@import "variables";
@import "global";

body>header {
  position: absolute;
  right: $halfGutter;
  left: $halfGutter;
  z-index: 3;

  .row:first-of-type {
    position: relative;
    min-height: 4rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $whiteColor;
      opacity: 0.3;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        padding-left: $gutter;

        a {
          color: $whiteColor;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          padding-top: $gutter;
          padding-bottom: $gutter;
          display: block;
          @include transition(0.5s);

          &.active,
          &.focus,
          &:active,
          &:hover {
            color: $primaryColor;
            border-bottom: 1px solid $primaryColor;
          }
        }
      }
    }

    form {
      padding-left: $gutter;

      .search {
        color: $lightFontColor;
        height: $gutter;
        line-height: $gutter;
        border-left: 1px solid $lightFontColor;
        padding-left: $halfGutter;
      }
    }
  }
}

section {
  &.landing {
    @include sectionBackground(100vh, $blackColor, "../assets/landing-bg.jpg");

    .content {
      left: 0;

      .text {
        margin-left: auto;

        h1 {
          font-size: 30px;
          font-weight: 400;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
    }

    .arrows {
      color: $whiteColor;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.fa-chevron-left {
          left: $gutter;
        }

        &.fa-chevron-right {
          right: $gutter;
        }
      }
    }

    .indicators {
      position: absolute;
    }
  }

  &.services {
    @extend %section-padding;

    .service {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: $halfGutter;
      padding-bottom: $halfGutter;

      .icon {
        text-align: center;
      }


      h3 {
        color: $primaryColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 0;
      }

      p {
        color: $primaryFontColor;
        line-height: 24px;
      }
    }
  }

  &.features {
    @include sectionBackground(70vh, $blackColor, "../assets/features-bg.jpg");

    .img-container {
      position: absolute;
      top: 20%;
      right: 50%;
      left: 0;
      text-align: center;
    }

    .content {
      right: 0;
      left: 50%;

      .text {
        h3 {
          font-size: 20px;
          font-weight: 400;
          line-height: 27px;
          text-transform: uppercase;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            background-image: url(../assets/icons/bullets-icon.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            padding-left: 2rem;
          }
        }
      }
    }
  }

  &.portfolio {
    @extend %section-padding;

    .tabs {
      text-align: center;

      .tab-btn {
        @include button(13px, $blackColor, transparent, 13px 20px);
        @include transition(0.3s);

        &.active,
        &:active,
        &:hover,
        &:focus {
          color: $whiteColor;
          background-color: $primaryColor;
          border-color: transparent;
        }
      }
    }

    .tabs-content {
      @extend %section-padding;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .img-box {
        position: relative;
        height: 320px;
        overflow: hidden;

        &:hover {
          img {
            transform: rotate(10deg) scale(1.3);
          }

          .caption {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 320px;
          object-fit: cover;
          @include transition(0.5s);
          animation: fadeEffect 1s alternate;
        }

        .caption {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: $whiteColor;
          padding: 1rem 2rem;
          opacity: 0;
          @include transition(0.5s);

          & * {
            margin: 0;
          }

          h3 {
            color: $blackColor;
            font-size: 20px;
            font-weight: 400;
          }

          p {
            color: $primaryColor;
          }
        }
      }
    }

    .show-btn {
      @include button(20px, $whiteColor, $primaryColor, 0.75rem 3rem);
      display: block;

      margin: 0 auto $halfGutter;

      &.active,
      &:active,
      &:hover,
      &:focus {
        border-color: $primaryColor;
      }
    }
  }

  &.video {
    position: relative;
    overflow: hidden;
    min-height: auto;

    .overlay {
      bottom: 5px
    }

    video {
      width: 100%;
    }

    .content {
      width: 100vw;
      @extend %section-padding;

      .text {
        max-width: 100%;
        padding: 0;
        margin: 0 auto;
        text-align: center;

        h3 {
          font-size: 25px;
          font-weight: 600;
          text-transform: uppercase;
          margin: 0
        }

        p {
          margin-top: $gutter;
          margin-bottom: $gutter;
        }

        button {
          @include button(13px, $whiteColor, $blackColor, 10px 30px);
        }
      }
    }
  }

  &.about-us {
    padding-top: $sectionPadding;
    position: relative;

    .banner {
      position: relative;
      width: 95%;
      text-align: center;
      bottom: -120px;
      margin: -120px auto 0;
    }

    .statistic {
      @include sectionBackground(auto, $blackColor, "../assets/statistic-bg.jpg");
      color: $whiteColor;
      @extend %section-padding;

      .container {
        position: relative;
        text-align: center;
        background-color: $primaryColorOverlay;
        padding-top: $gutter;
        padding-bottom: $gutter;
      }

      .state-content {
        padding-top: $halfGutter;
        padding-bottom: $halfGutter;

        .icon {
          height: 36px;
          line-height: 36px;
          background-image: url(../assets/path.svg);
          background-repeat: no-repeat;
          background-position-x: center;
          position: relative;

          img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }

        h3 {
          font-size: 2rem;
          margin: 1rem 0;
        }
      }
    }
  }

  &.skills {
    @extend %section-padding;
    text-align: center;

    .testimonials {
      position: relative;
      padding-bottom: $gutter;

      .content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: $halfGutter;
        text-align: start;
        margin-bottom: $gutter;

        img {
          width: 100px;
          border-radius: 50%;
          margin: 0 auto;
        }

        p {
          color: $blackColor;
          margin-top: 0;
        }

        span {
          color: $primaryFontColor;
          font-size: smaller;
          display: block;
          text-align: end;
        }

        hr {
          border-bottom: 0;
        }
      }
    }

    h3 {
      color: $blackColor;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }

    p.main {
      color: $primaryFontColor;
      margin-bottom: 3rem;
    }

    .our-skills {
      .prog-box {
        text-align: start;

        h4 {
          font-size: smaller;
          font-weight: 600;
          margin-bottom: 0.3rem;
        }

        .prog {
          background-color: $lightFontColor;
          height: 20px;
          position: relative;

          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            background-color: $primaryColor;

            &::before {
              content: attr(data-progress);
              width: 28px;
              position: absolute;
              bottom: calc(100% + 7px);
              // Full width including padding is 36 > 36/2 = 18
              left: calc(100% - 18px);
              color: $whiteColor;
              background-color: $blackColor;
              border-radius: 4px;
              padding: 4px;
              font-size: smaller;
              text-align: center;
              display: none;
            }

            &::after {
              content: "";
              position: absolute;
              top: -7px;
              left: calc(100% - 7px);
              border-width: 7px;
              border-style: solid;
              border-color: $blackColor transparent transparent;
              display: none;
            }

            &:hover::after,
            &:hover::before {
              display: block;
            }
          }
        }
      }
    }
  }
}

@import "media-queries";