/* Global */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.img-fix {
  max-width: 100%;
  height: auto;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 0) {
  .container {
    max-width: 100%;
  }

  .col-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
header {
  position: absolute;
  right: 1rem;
  left: 1rem;
  z-index: 3;
}
header .row:first-of-type {
  position: relative;
  min-height: 4rem;
}
header .row:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}
header nav {
  display: flex;
  align-items: center;
}
header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header nav ul li {
  padding-left: 2rem;
}
header nav ul li a {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
}
header nav ul li a:active, header nav ul li a.active, header nav ul li a.focus, header nav ul li a:hover {
  color: #00c7fc;
  border-bottom: 1px solid #00c7fc;
}
header nav form {
  padding-left: 2rem;
}
header nav form .search {
  color: #d6d6d6;
  height: 2rem;
  line-height: 2rem;
  border-left: 1px solid #d6d6d6;
  padding-left: 1rem;
}

section.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../assets/landing-bg.jpg);
  background-size: cover;
}
section.landing .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(31, 32, 33, 0.7);
}
section.landing .content {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 70vw;
  background-color: rgba(0, 199, 252, 0.5);
}
section.landing .content .text {
  max-width: calc(90% - 2rem);
  margin-left: auto;
  padding: 2rem;
}
section.landing .content .text h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}
section.landing .content .text p {
  font-weight: 400;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  header nav ul {
    display: flex;
  }
  header nav i.toggle-menu {
    padding-left: 2rem;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgba(31, 32, 33, 0.7);
    padding-right: 2rem;
    padding-left: 2rem;
    display: none;
  }
  header nav ul li {
    padding-left: 0;
  }
  header nav ul li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  header nav i {
    cursor: pointer;
  }
  header nav i.toggle-menu {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #d6d6d6;
    padding-left: 2rem;
    display: block;
  }
  header nav i.toggle-menu:hover, header nav i.toggle-menu:focus {
    color: #00c7fc;
  }
}
@media screen and (max-width: 992px) {
  section.landing .content {
    width: 100vw;
  }
  section.landing .content .text {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
