@import "colors";
@import "variables";
@import "global";

body>header {
  position: absolute;
  right: $halfGutter;
  left: $halfGutter;
  z-index: 3;

  .row:first-of-type {
    position: relative;
    min-height: 4rem;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: $whiteColor;
      opacity: 0.3;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        padding-left: $gutter;

        a {
          @include transition(0.5s);
          color: $whiteColor;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          padding-top: $gutter;
          padding-bottom: $gutter;
          display: block;

          &.active,
          &.focus,
          &:active,
          &:hover {
            color: $primaryColor;
            border-bottom: 1px solid $primaryColor;
          }
        }
      }
    }

    form {
      padding-left: $gutter;

      .search {
        color: $lightFontColor;
        height: $gutter;
        line-height: $gutter;
        border-left: 1px solid $lightFontColor;
        padding-left: $halfGutter;
      }
    }
  }
}

section {
  &.landing {
    @include sectionBackground(100vh, $blackColor, "../assets/landing-bg.jpg");

    .overlay {
      @include bgOverlay($blackColorOverlay)
    }

    .content {
      left: 0;

      .text {
        margin-left: auto;

        h1 {
          font-size: 30px;
          font-weight: 400;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
    }

    .arrows {
      color: $whiteColor;

      i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        &.fa-chevron-left {
          left: $gutter;
        }

        &.fa-chevron-right {
          right: $gutter;
        }
      }
    }

    .indicators {
      list-style: none;
      padding-left: 0;
      margin: 0;
      position: absolute;
      bottom: 22px;
      display: flex;
      @extend .center;
      width: 100%;

      li {
        width: 12px;
        height: 12px;
        margin-right: 3px;
        margin-left: 3px;
        border: 1px solid $whiteColor;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          background-color: $primaryColor;
          border-color: $primaryColor;
        }
      }
    }
  }

  &.services {
    @extend .section-padding;

    .service {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: $halfGutter;
      padding-bottom: $halfGutter;

      .icon {
        text-align: center;
      }


      h3 {
        color: $primaryColor;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        margin-top: 0;
      }

      p {
        color: $primaryFontColor;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &.features {
    @include sectionBackground(70vh, $blackColor, "../assets/features-bg.jpg");
    background-position-y: 70%;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

    .overlay {
      @include bgOverlay($blackColorOverlay)
    }

    .img-container {
      position: absolute;
      top: 20%;
      right: 50%;
      left: 0;
      text-align: center;
      // top: 50%;
      // right: calc(50% + 2rem);
      // transform: translate(-10%, -30%);
    }

    .content {
      right: 0;
      // left: calc(50% + $gutter);
      left: 50%;

      .text {
        // padding-left: 4rem;

        ul {
          list-style: none;
          padding-left: 0;

          li {
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            background-image: url(../assets/icons/bullets-icon.svg);
            background-repeat: no-repeat;
            background-position-y: center;
            padding-left: 2rem;
          }
        }
      }
    }
  }
}

@import "media-queries";