* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: calc(100% - 2rem);
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.center, section .indicators {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 0) {
  .container {
    max-width: 100%;
  }

  .col-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-lg-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-2 {
    width: 16.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-3 {
    width: 25%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-4 {
    width: 33.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-5 {
    width: 41.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-6 {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-7 {
    width: 58.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-8 {
    width: 66.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-9 {
    width: 75%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-10 {
    width: 83.3333333333%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-11 {
    width: 91.6666666667%;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xl-12 {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
section.pricing, section.quote .container, section.quote, section.skills, section.about-us .statistic, section.video .content, section.portfolio .tabs-content, section.portfolio, section.services {
  padding-top: 50px;
  padding-bottom: 50px;
}

.img-fix {
  max-width: 100%;
  height: auto;
}

.d-none {
  display: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
section header.main-header {
  text-align: center;
  padding-bottom: 50px;
}
section header.main-header h2 {
  color: #1f2021;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
}
section header.main-header h2::before {
  content: "";
  width: 100px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: #1f2021;
}
section header.main-header h2::after {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 50%;
  bottom: -15.5px;
  transform: translateX(-50%);
  border: 1px solid #1f2021;
  border-radius: 50%;
  background-color: #ffffff;
}
section header.main-header p {
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
  color: #a8a8a8;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}
section .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(31, 32, 33, 0.7);
}
section > .content {
  color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 199, 252, 0.5);
  width: 70vw;
}
section > .content .text {
  max-width: calc(90% - 2rem);
  padding: 2rem;
}
section p {
  font-size: 13px;
  font-weight: 400;
}
section .indicators {
  list-style: none;
  padding-left: 0;
  position: relative;
  bottom: 0;
  display: flex;
  width: 100%;
}
section .indicators li {
  width: 12px;
  height: 12px;
  margin-right: 3px;
  margin-left: 3px;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  cursor: pointer;
}
section .indicators li.active {
  background-color: #00c7fc;
  border-color: #00c7fc;
}

body > header {
  position: absolute;
  right: 1rem;
  left: 1rem;
  z-index: 3;
}
body > header .row:first-of-type {
  position: relative;
  min-height: 4rem;
}
body > header .row:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}
body > header nav {
  display: flex;
  align-items: center;
}
body > header nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
body > header nav ul li {
  padding-left: 2rem;
}
body > header nav ul li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
body > header nav ul li a.active, body > header nav ul li a.focus, body > header nav ul li a:active, body > header nav ul li a:hover {
  color: #00c7fc;
  border-bottom: 1px solid #00c7fc;
}
body > header nav form {
  padding-left: 2rem;
}
body > header nav form .search {
  color: #d6d6d6;
  height: 2rem;
  line-height: 2rem;
  border-left: 1px solid #d6d6d6;
  padding-left: 1rem;
}

section.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../assets/landing-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
section.landing .content {
  left: 0;
}
section.landing .content .text {
  margin-left: auto;
}
section.landing .content .text h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
}
section.landing .arrows {
  color: #ffffff;
}
section.landing .arrows i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
section.landing .arrows i.fa-chevron-left {
  left: 2rem;
}
section.landing .arrows i.fa-chevron-right {
  right: 2rem;
}
section.landing .indicators {
  position: absolute;
}
section.services .service {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  padding-bottom: 1rem;
}
section.services .service .icon {
  text-align: center;
}
section.services .service h3 {
  color: #00c7fc;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 0;
}
section.services .service p {
  color: #a8a8a8;
  line-height: 24px;
}
section.features {
  min-height: 70vh;
  background-color: #1f2021;
  background-image: url("../assets/features-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
section.features .img-container {
  position: absolute;
  top: 20%;
  right: 50%;
  left: 0;
  text-align: center;
}
section.features .content {
  right: 0;
  left: 50%;
}
section.features .content .text h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}
section.features .content .text ul {
  list-style: none;
  padding-left: 0;
}
section.features .content .text ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  background-image: url(../assets/icons/bullets-icon.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 2rem;
}
section.portfolio .tabs {
  text-align: center;
}
section.portfolio .tabs .tab-btn {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #1f2021;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 13px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
section.portfolio .tabs .tab-btn.active, section.portfolio .tabs .tab-btn:active, section.portfolio .tabs .tab-btn:hover, section.portfolio .tabs .tab-btn:focus {
  color: #ffffff;
  background-color: #00c7fc;
}
section.portfolio .tabs-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
section.portfolio .tabs-content .img-box {
  position: relative;
  height: 320px;
  overflow: hidden;
}
section.portfolio .tabs-content .img-box:hover img {
  transform: rotate(10deg) scale(1.3);
}
section.portfolio .tabs-content .img-box:hover .caption {
  opacity: 1;
}
section.portfolio .tabs-content .img-box img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  animation: fadeEffect 1s alternate;
}
section.portfolio .tabs-content .img-box .caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  padding: 1rem 2rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
section.portfolio .tabs-content .img-box .caption * {
  margin: 0;
}
section.portfolio .tabs-content .img-box .caption h3 {
  color: #1f2021;
  font-size: 20px;
  font-weight: 400;
}
section.portfolio .tabs-content .img-box .caption p {
  color: #00c7fc;
}
section.portfolio .show-btn {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #00c7fc;
  border: 1px solid #00c7fc;
  padding: 0.75rem 3rem;
  cursor: pointer;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 1rem;
}
section.video {
  position: relative;
  overflow: hidden;
  min-height: auto;
}
section.video .overlay {
  bottom: 5px;
}
section.video video {
  width: 100%;
}
section.video .content {
  width: 100vw;
}
section.video .content .text {
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
section.video .content .text h3 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}
section.video .content .text p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.video .content .text button {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #1f2021;
  border: 1px solid #1f2021;
  padding: 10px 30px;
  cursor: pointer;
  text-transform: uppercase;
}
section.about-us {
  padding-top: 50px;
  position: relative;
}
section.about-us .banner {
  position: relative;
  width: 95%;
  text-align: center;
  bottom: -120px;
  margin: -120px auto 0;
}
section.about-us .statistic {
  min-height: auto;
  background-color: #1f2021;
  background-image: url("../assets/statistic-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}
section.about-us .statistic .container {
  position: relative;
  text-align: center;
  background-color: rgba(0, 199, 252, 0.5);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
section.about-us .statistic .state-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
section.about-us .statistic .state-content .icon {
  height: 36px;
  line-height: 36px;
  background-image: url(../assets/path.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}
section.about-us .statistic .state-content .icon img {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
section.about-us .statistic .state-content h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
section.skills {
  text-align: center;
}
section.skills .testimonials {
  position: relative;
  padding-bottom: 2rem;
}
section.skills .testimonials .content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  text-align: start;
  margin-bottom: 2rem;
}
section.skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}
section.skills .testimonials .content p {
  color: #1f2021;
  margin-top: 0;
}
section.skills .testimonials .content span {
  color: #a8a8a8;
  font-size: smaller;
  display: block;
  text-align: end;
}
section.skills .testimonials .content hr {
  border-bottom: 0;
}
section.skills h3 {
  color: #1f2021;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
section.skills p.main {
  color: #a8a8a8;
  margin-bottom: 3rem;
}
section.skills .our-skills .prog-box {
  text-align: start;
}
section.skills .our-skills .prog-box h4 {
  font-size: smaller;
  font-weight: 600;
  margin-bottom: 0.3rem;
}
section.skills .our-skills .prog-box .prog {
  background-color: #d6d6d6;
  height: 20px;
  position: relative;
}
section.skills .our-skills .prog-box .prog span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-color: #00c7fc;
}
section.skills .our-skills .prog-box .prog span::before {
  content: attr(data-progress);
  width: 28px;
  position: absolute;
  bottom: calc(100% + 7px);
  left: calc(100% - 18px);
  color: #ffffff;
  background-color: #1f2021;
  border-radius: 4px;
  padding: 4px;
  font-size: smaller;
  text-align: center;
  display: none;
}
section.skills .our-skills .prog-box .prog span::after {
  content: "";
  position: absolute;
  top: -7px;
  left: calc(100% - 7px);
  border-width: 7px;
  border-style: solid;
  border-color: #1f2021 transparent transparent;
  display: none;
}
section.skills .our-skills .prog-box .prog span:hover::after, section.skills .our-skills .prog-box .prog span:hover::before {
  display: block;
}
section.quote {
  min-height: auto;
  background-color: #1f2021;
  background-image: url("../assets/geometric-bg.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  text-align: center;
}
section.quote .container {
  position: relative;
}
section.quote q {
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 1.8;
  display: block;
  margin-bottom: 1rem;
}
section.quote q::before, section.quote q::after {
  content: '"';
}
section.quote span {
  color: #ffffff;
}
section.pricing .plan {
  color: #1f2021;
  text-align: center;
}
section.pricing .plan h3 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-top: 1px solid #00c7fc;
  padding-top: 1rem;
}
section.pricing .plan span {
  font-size: 2.5rem;
  font-weight: 600;
}
section.pricing .plan span sup.dollar {
  font-size: 1rem;
}
section.pricing .plan span sub {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}
section.pricing .plan ul {
  list-style: none;
  padding: 1rem 0;
  border-top: 1px solid #00c7fc;
  border-bottom: 1px solid #00c7fc;
}
section.pricing .plan ul li:not(:last-child) {
  padding-bottom: 1.5rem;
  position: relative;
}
section.pricing .plan ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0.75rem;
  left: 25%;
  width: 50%;
  border-bottom: 1px solid #00c7fc;
}
section.pricing .plan .buy-now {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #1f2021;
  background-color: transparent;
  border: 1px solid #00c7fc;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}
section.pricing .plan .buy-now:hover {
  color: #ffffff;
  background-color: #00c7fc;
}
section.pricing .contact {
  text-align: center;
}
section.pricing .contact p {
  font-size: 1rem;
  padding-top: 2rem;
}
section.pricing .contact .contact-us {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #00c7fc;
  border: 1px solid #00c7fc;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  body > header nav ul {
    display: flex;
  }
  body > header i.toggle-menu {
    padding-left: 2rem;
    display: none;
  }
}
@media screen and (min-width: 992px) {
  section.features .content .text {
    padding-left: 4rem;
  }
}
@media screen and (max-width: 992px) {
  section > .content {
    width: 100vw;
    max-width: 100%;
  }
  section > .content .text {
    margin: auto;
  }
  section.features .content .text {
    max-width: 100%;
  }
  section.portfolio .tabs-content {
    grid-template-columns: repeat(3, 1fr);
  }
  section.skills p.main {
    margin-bottom: 2rem;
  }
  section.skills .testimonials .content {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    row-gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  section.skills .testimonials .content span {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  body > header {
    right: 0;
    left: 0;
  }
  body > header .container {
    max-width: 100%;
  }
  body > header .row:first-of-type {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  body > header nav ul {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: rgba(31, 32, 33, 0.7);
    padding-right: 2rem;
    padding-left: 2rem;
    display: none;
  }
  body > header nav ul li {
    padding-left: 0;
  }
  body > header nav ul li a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  body > header nav i {
    cursor: pointer;
  }
  body > header nav i.toggle-menu {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #d6d6d6;
    padding-left: 2rem;
    display: block;
  }
  body > header nav i.toggle-menu:focus, body > header nav i.toggle-menu:hover {
    color: #00c7fc;
  }

  section > .content .text {
    max-width: calc(100% - 2rem);
  }
  section.landing .arrows {
    display: none;
  }
  section.services .service {
    grid-template-columns: auto;
    justify-items: center;
    text-align: center;
  }
  section.services .service .icon {
    margin-bottom: 1rem;
  }
  section.features {
    min-height: 95vh;
  }
  section.features .img-container {
    top: 55%;
    right: 0;
    left: 0;
  }
  section.features .content {
    top: 50px;
    left: 0;
    transform: none;
  }
  section.portfolio .tabs-content {
    grid-template-columns: repeat(2, 1fr);
  }
  section.about-us .banner {
    bottom: -110px;
    margin-top: -110px;
  }
}
@media screen and (max-width: 576px) {
  body > header .row:first-of-type {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  body > header nav ul {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  section > .content .text {
    max-width: 100%;
    padding: 1rem;
  }
  section > .content .text h1 {
    font-size: 26px;
    line-height: 40px;
  }
  section.features .img-container img {
    max-width: 90%;
  }
  section.portfolio .tabs-content {
    grid-template-columns: repeat(1, 1fr);
  }
  section.video .content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  section.video .content .text h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  section.about-us .banner {
    bottom: -75px;
    margin-top: -75px;
  }
  section.quote .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  section.quote q {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
